<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.reskindevdotcom.reskindev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>reskindev</string>
			</array>
		</dict>
	</array>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Reskin Dev</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>reskin dev</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Reskindev Pro</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>reskin dev pro</string>
		</dict>
	</array>
	<key>NSSupportsGroupActivities</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleMixed</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
